body {
  margin: 0;
}

.super-frame {
  background-color: #e5e5e5;
  margin: 0;
}

.container {
  background-image: url("img/header-shapesmobile@2x.svg");
  width: 100%;
  margin-bottom: 10px;
  height: 70vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 80px;
  background-color: #fff;
}

.frame {
  width: 100%;
  height: 3200px;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 70vw;
  margin: auto;
  background-color: #fff;
  width: 80%;
  margin-top: 58px;
}

.identity-box {
  width: 80%;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

a:hover {
  text-decoration: underline;
  color: #6070ff;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  display: flex;
  text-align: center;
  align-items: center;
  color: #6070ff;
}

h1 {
  display: flex;
  align-items: center;
  height: 9.375rem;
  width: 240px;
  margin: 3.5rem 1.2rem 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 52px;
  font-size: 32px;
}

p {
  font-style: normal;
  margin: 0 1.5rem 1rem 0;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
  margin-left: 24px;
}

.desktop-content p {
  font-style: normal;
  margin: 0 1.5rem 1rem 0;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}

.socials {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 1.5rem;
  width: 10rem;
  bottom: 60px;
}

.connect {
  margin-left: 1.5rem;
  font-style: normal;
  width: 8rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-size: 15px;
  font-weight: 400;
  height: 1.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.work {
  justify-content: center;
  margin-top: 10px;
  display: grid;
  width: 100%;
}

.grid-item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  background-color: #fff;
  color: #344563;
  background-repeat: no-repeat;
  background-position: 16px 16px;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 120px 16px 0;
  width: 327px;
  padding: 20px;
}

.grid-item ul {
  width: 203px;
  height: 24px;
  padding-left: 0;
}

.grid-item p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.content h3 {
  width: 295px;
  height: 40px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 12px 0;
}

.content ul {
  list-style-type: disc;
  justify-content: space-between;
  width: 236px;
  padding-left: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.content li {
  color: #7a869a;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.tool-content li {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-left: 18px;
  background-color: #ebebff;
  color: #6070ff;
  border-radius: 8px;
  padding: 6px 12px;
  align-items: center;
}

.tool-content li:nth-child(1) {
  margin-left: 0;
}

.canopy {
  list-style-type: none;
}

ul .canopy {
  color: #000;
}

button {
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  margin: 15px 0;
}

button:hover {
  text-decoration: underline;
  background-color: #6070ab;
  color: #fff;
}

button:active {
  background-color: #2230d2;
}

.frame-case-a {
  background-image: url("img/Snapshoot-Portfolio-a.png");
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.frame-case-b {
  background-image: url("img/Snapshoot-Portfolio-b.png");
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.frame-case-c {
  background-image: url("img/Snapshoot-Portfolio-c.png");
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.frame-case-d {
  background-image: url("img/Snapshoot-Portfolio-d.png");
  height: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.about-me {
  left: 8px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: #fff;
  border-top-right-radius: 80px;
  margin-top: 114px;
}

h2 {
  position: static;
  width: 327px;
  height: 101px;
  left: 0;
  top: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 24px;
  margin-top: 114px;
}

.about-me p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 80%;
  height: 144px;
  margin: 12px 24px;
}

.about-me ul {
  width: 9.75rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
}

.about-me button {
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #6070ff;
  background-color: #fff;
  margin: 15px 24px;
}

.abt {
  font-weight: 900;
  font-style: normal;
}

.tags ul {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tags li {
  width: 303px;
  height: 66.72px;
  left: 12px;
  top: 12px;
  background: #f7f7f9;
  border-radius: 8px;
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: flex-start;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.lang {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  display: flex;
  text-align: center;
  align-items: center;
}

.tools img {
  font-size: 50px;
  margin: 9px 12px;
}

.titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 70vw;
  margin: 0.5rem 0 0 0;
  background-color: #fff;
}

.titles img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}

.skill img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 220px;
}

.briefings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  background-color: #fff;
  width: 100%;
  margin: 0;
}

.contact-me {
  background-color: #6070ff;
  width: 100%;
  height: 100%;
  margin: 0;
  border-top-left-radius: 100px;
  background-image: url("img/contact form shapes-mobile.svg");
  background-repeat: no-repeat;
  background-position: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 0;
}

.contact-notice {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin-top: 12px;
  width: 85%;
}

.contact-form {
  width: 80%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-setup {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #ebebff;
  padding: 0 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
  color: black;
}

.text-area {
  min-height: 200px;
  max-height: 200px;
  min-width: 100%;
  line-height: 50px;
  max-width: 100%;
}

.contact-button {
  background: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #6070ff;
  width: 160px;
  height: 48px;
  text-align: center;
  margin: 0;
}

.basement {
  box-sizing: border-box;
  border: 5px solid #0d151e;
  width: 134px;
  height: 5px;
  border-radius: 10px;
  margin: 20px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 900px;
}

  .first-connect {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 0 9.5%;
}

  h1 {
    width: 282px;
    margin-left: 1.2rem;
}

  p {
    width: 75%;
    /* margin-left: 1.5px; */
}

  .grid-item {
    width: auto;
    height: 496px;
    margin: 142px 100px 0;
}

  .desktop-content {
    grid-column: 2;
    grid-row:  1;
    padding-left: 45px;
  
}

  .desktop-image {
    background-image: url("img/Nature.svg");
    grid-column: 1;
    grid-row: 1;

    height: 448px;
  }

  .content {
    margin-top: 48px;
  }

  .content-frame {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 88px;
  }
