.container {
  position: absolute;
  background-image: url("img/mobile-icon.png");
  background-color: #fff;
  width: 375px;
  margin: 0;
  height: 30rem;
  background-repeat: no-repeat;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 70vw;
  margin: 0 0 1.2rem 1.2rem;
  background-color: #fff;
  width: 327px;
}

a {
  text-decoration: none;
  font-size: 1.2rem;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  display: flex;
  text-align: center;
  align-items: center;
  color: #6070ff;
}

h1 {
  display: flex;
  align-items: center;
  height: 9.375rem;
  width: 240px;
  margin: 3.5rem 1.2rem 1rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 52px;
  font-size: 32px;
}

p {
  font-style: normal;
  width: 327px;
  margin: 0 1.5rem;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  font-weight: 400;
  font-size: 15px;
}

.socials {
  display: flex;
}

h3 {
  margin-left: 1.5rem;
  font-style: normal;
  width: 7rem;
  font-family: "Poppins", sans-serif;
  color: #6070ff;
  font-size: 15px;
  font-weight: 400;
  height: 1.5rem;
}

ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 1.5rem;
  width: 10rem;
}
